# Исключить виртуальное окружение
venv/

# Исключить файлы временных данных
*.pyc
__pycache__/

# Исключить файлы конфигурации IDE
.idea/
.vscode/

# Исключить файлы системных резервных копий
*.swp
*.swo
*~